{% extends 'layouts/index.html' %}
{% load static %}

{% block title %}{{ drink.name }}{% endblock %}

{% block content %}
<style type="text/css">
    body {
        font-family: 'Helvetica', sans-serif;
    }

    .drink-details {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .drink-img {
        width: 100%;
        max-height: 400%;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .drink-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .drink-description {
        color: #555;
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <div class="drink-details">
        <img src="{{ drink.img.url }}" alt="{{ drink.name }}" class="drink-img">
        <div class="drink-info">
            <h1 class="drink-title">{{ drink.name }}</h1>
            <p class="drink-description">{{ drink.description }}</p>
            <p class="drink-volume">{{ drink.volume }}</p>
            <p class="drink-category">Категория: {{ drink.category.title }}</p>
            <p class="drink-created">Добавлено: {{ drink.created_at }}</p>
            <p class="drink-updated">Обновлено: {{ drink.updated_at }}</p>
            <p class="drink-price">Цена:{{ drink.price }}</p>
        </div>
        <a href="/api/v1/menu/drinks/" class="btn btn-outline-success my-2 my-sm-0">Вернуться к списку</a>
    </div>
</div>
{% endblock %}
