{% extends 'layouts/index.html' %}
{% load static %}

{% block title %}
    Детали блюда: {{ dish.name }}
{% endblock %}

{% block content %}
    <style type="text/css">
        .dish-detail {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }

        .dish-img {
            width: 100%;
        max-height: 400%;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 20px;
    }



        .dish-title {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .dish-description {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .btn-back {
            display: inline-block;
            padding: 8px 15px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .btn-back:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="container mt-5">
        <div class="dish-detail">
            {% if dish.img %}
                <img src="{{ dish.img.url }}" alt="{{ dish.name }}" class="dish-img">
            {% endif %}
            <h1 class="dish-title">{{ dish.name }}</h1>
            <p class="dish-description">{{ dish.description }}</p>
            <p class="dish-category">Категория: {{ dish.category.title }}</p>
            <p class="dish-created">Добавлено: {{ dish.created_at }}</p>
            <p class="dish-updated">Обновлено: {{ dish.updated_at }}</p>
            <p class="dish-price">Цена: {{ dish.price }}</p>
            <a href="http://127.0.0.1:8000/api/v1/menu/drinks" class="btn btn-primary btn-back">Назад к списку блюд</a>
        </div>
    </div>
{% endblock %}
